form {
  text-align: center;
}

ul {
  text-align: center;
  background-color: white;
}

li {
  text-align: left;
  font-size: 20px;
}

.gif {
  text-align: center;
  display: block;
  margin-top: 8px;
}

.gifCard {
  margin: auto;
  width: 25%;
  border: 2px solid black;
}
